pandas==1.4.3
numpy_financial==1.0.0
pycountry==20.7.3
numpy==1.23.0
openpyxl==3.0.9
plotly==5.5.0
tqdm==4.62.3
kaleido==0.2.1
currencyconverter==0.16.6
pandera==0.8.1
pytest==7.0.0
coverage==6.4
typer==0.4.1
pre-commit==2.19.0
mypy==0.960
dask==2022.1.1
modin==0.15.2
distributed==2022.9.0
